{% extends "base.html" %}

{% block content %}
{% load staticfiles%}





    <div class="container">
        {% if banners %}
        <div class="small_image">
            <div class="banner-div">
                {% if banners.link %}
                    <a href="{{ banners.link }}" target="_blank"><img class="banner" src="{{ banners.small_image.url }}" alt="small_banner"></a>
                {% else %}
                    <img class="banner" src="{{ banners.small_image.url }}" alt="small_banner">
                {% endif %}
            </div>
        </div>
        <div class="medium_image">
            <div class="banner-div">
                {% if banners.link %}
                    <a href="{{ banners.link }}" target="_blank"><img class="banner" src="{{ banners.medium_image.url }}" alt="small_banner"></a>
                {% else %}
                    <img class="banner" src="{{ banners.medium_image.url }}" alt="medium_banner">
                {% endif %}
            </div>
        </div>
        <div class="large_image">
            <div class="banner-div">
                {% if banners.link %}
                    <a href="{{ banners.link }}" target="_blank"><img class="banner" src="{{ banners.large_image.url }}" alt="small_banner"></a>
                {% else %}
                    <img class="banner" src="{{ banners.large_image.url }}" alt="large_banner">
                {% endif %}
            </div>
        </div>
        {% endif %}
        <div class="row align-items-center">
            <div class="col-12 col-md-6 text-align-center">
                <h2 class="text-main">Добро пожаловать в Российскую Fantasy Лигу по хоккею на траве.</h2>
                <div class="button-wrapper">
                    <a class="btn btn-danger play-button" href="{% url 'accounts:conditions' %}" role="button">Играть</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <img class="logo-main" src="{% static 'images/logo_main.png' %}" alt="logo">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row games-row">
            <div class="col-12 col-md-6 games current_tour text-align-center">

            {% if ct_games %}
                {% if current_tour.name %}
                    <h4>Ближайший тур, {{ current_tour.name }}</h4>
                {% else %}
                    <h4>Ближайший тур, номер {{ current_tour.number }}</h4>
                {% endif %}
                {% for game in ct_games %}
                    <div class="game">
                        {% if game.score %}
                            {% if game.home_team == game.winner %}
                                <div class="team_names"><b>{{ game.home_team }}</b> — {{ game.guest_team }}</div>
                            {% else %}
                                <div class="team_names">{{ game.home_team }} — <b>{{ game.guest_team }}</b></div>
                            {% endif %}
                            <div class="scores">{{ game.split_score_in_template.0 }}:{{ game.split_score_in_template.1 }}</div>
                            {% if game.bullitt_winner %}
                                <div class="bullitts">Победитель по буллитам: <b>{{ game.bullitt_winner }}</b></div>
                            {% endif %}
                        {% else %}
                            <div class="team_names">{{ game.home_team }} — {{ game.guest_team }}</div>
                            <div class="scores zero-score">–:–</div>
                            <div class="start_time">Начало: <span class="time" data-time="{{ game.start_time|date:'c' }}"></span></div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}

            </div>
            <div class="col-12 col-md-6 games previous_tour text-align-center">
            {% if pt_games %}
                {% if previous_tour.name %}
                    <h4>Предыдущий тур, {{ previous_tour.name }}</h4>
                {% else %}
                    <h4>Предыдущий тур, номер {{ previous_tour.number }}</h4>
                {% endif %}
                {% for game in pt_games %}
                    <div class="game">

                        {% if game.home_team == game.winner %}
                            <div class="team_names"><b>{{ game.home_team }}</b> — {{ game.guest_team }}</div>
                        {% else %}
                            <div class="team_names">{{ game.home_team }} — <b>{{ game.guest_team }}</b></div>
                        {% endif %}
                        <div class="scores">{{ game.split_score_in_template.0 }}:{{ game.split_score_in_template.1 }}</div>
                        {% if game.bullitt_winner %}
                            <div class="bullitts">Победитель по буллитам: <b>{{ game.bullitt_winner }}</b></div>
                        {% endif %}

                    </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
{% block script %}
{{ block.super }}

<script src="{% static 'script/index.js' %}"></script>

{% endblock %}