{% extends "base.html" %}
{% block content %}
{% load staticfiles%}

<div class="container">
    {% if banners %}
        <div class="small_image">
            <div class="banner-div">
                {% if banners.link %}
                    <a href="{{ banners.link }}" target="_blank"><img class="banner" src="{{ banners.small_image.url }}" alt="small_banner"></a>
                {% else %}
                    <img class="banner" src="{{ banners.small_image.url }}" alt="small_banner">
                {% endif %}
            </div>
        </div>
        <div class="medium_image">
            <div class="banner-div">
                {% if banners.link %}
                    <a href="{{ banners.link }}" target="_blank"><img class="banner" src="{{ banners.medium_image.url }}" alt="small_banner"></a>
                {% else %}
                    <img class="banner" src="{{ banners.medium_image.url }}" alt="medium_banner">
                {% endif %}
            </div>
        </div>
        <div class="large_image">
            <div class="banner-div">
                {% if banners.link %}
                    <a href="{{ banners.link }}" target="_blank"><img class="banner" src="{{ banners.large_image.url }}" alt="small_banner"></a>
                {% else %}
                    <img class="banner" src="{{ banners.large_image.url }}" alt="large_banner">
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6" style="margin-bottom: 3%; margin-top: 3%;">
            <div class="row name-and-points-for-users-team">
                <div class="col-6">
                    <p id="user_name">Команда: {{ name }}</p>
                </div>
                <div class="col-6">
                    <p id="points">Очки: {{ points }}</p>
                </div>
                {% if results %}
                    <div class="col-6">
                        <ul id="last_3_result">
                        Очки за предыдущие туры:
                        {% for key, value in results.items %}
                            <li>{{ key }} тур: {{ value }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="field_wrapper">
                <img class="field" src="{% static 'images/play/field.png' %}" alt="field">
                <div class="field_div">
                    <div class="forward zone">
                        {% for player in team.FW %}


                            <div class="player disabled">
                                <img class="player_image" src="{% static '' %}{{ player.tshirt }}" alt="player_image">
                                {% if player == captain %}
                                    <img class="player_image" src="{% static 'images/play/bandage_test.png' %}" alt="player">
                                {% endif %}
                                <p class="font-weight-light player_sign">{{ player.surname }}</p>
                            </div>

                        {% endfor %}

                    </div>
                    <div class="midfielder zone">
                        {% for player in team.MF %}

                            <div class="player disabled">
                                <img class="player_image" src="{% static '' %}{{ player.tshirt }}" alt="player_image">
                                {% if player == captain %}
                                    <img class="player_image" src="{% static 'images/play/bandage_test.png' %}" alt="player">
                                {% endif %}
                                <p class="font-weight-light player_sign">{{ player.surname }}</p>
                            </div>

                        {% endfor %}

                    </div>
                    <div class="defender zone">
                        {% for player in team.DE %}

                            <div class="player disabled">
                                <img class="player_image" src="{% static '' %}{{ player.tshirt }}" alt="player_image">
                                {% if player == captain %}
                                    <img class="player_image" src="{% static 'images/play/bandage_test.png' %}" alt="player">
                                {% endif %}
                                <p class="font-weight-light player_sign">{{ player.surname }}</p>
                            </div>

                        {% endfor %}
                    </div>
                    <div class="goalkeeper zone">

                        <div class="player disabled">
                            <img class="player_image" src="{% static '' %}{{ team.GK.0.tshirt }}" alt="player_image">
                            {% if team.GK.0 == captain %}
                                <img class="player_image" src="{% static 'images/play/bandage_test.png' %}" alt="player">
                            {% endif %}
                            <p class="font-weight-light player_sign">{{ team.GK.0.surname }}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
{{ block.super }}

<script src="{% static 'script/users_team.js' %}"></script>

{% endblock %}